<style>
.collection-products {
	width: 90dvw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	height: auto;
	align-items: start;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 25px 6px;
	padding: 16px;
}
 .product-details {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	color: #000;
	height: 185px;
	box-sizing: border-box;
}
.product{
  background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}
.product:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.slider-title {
	width: 86vw;
	margin: 50px auto 20px;
	height: 70px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-family: Lora;
	justify-content: center;
}
</style>

<div class="collection">
  <h2 class="slider-title" >{{ collection.title }}</h2>
  <div class="collection-products">
    {% for product in collection.products %}
      <div class="product">
        <a class="product-link" href="{{ product.url }}"> 
          {% for image in product.images %}
            <img class="product-img" width="" height="" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
          {% endfor %}
          <div class="product-details">
            <h2 class="product-title"></h2>
            <p class="price"> {{ product.price | money }} </p>
            <p class="discription">{{ product.discription  }}</p>
            </div>
        </a>
        <form id="product-form-{{ product.id }}" action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <button id="add-to-cart-button-{{ product.id }}" class="add-to-cart" type="button">Add to Cart</button>
     </form>
      </div>
    {% endfor %}
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var addToCartButtons = document.querySelectorAll('.add-to-cart');

        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                
                var form = button.closest('form');
                var formData = new FormData(form);
                var xhr = new XMLHttpRequest();
                
                xhr.open('POST', form.action, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onload = function() {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        button.classList.remove('add-to-cart');
                        button.classList.add('go-to-cart');
                        button.textContent = 'Go to Cart';
                        button.onclick = function() {
                            window.location.href = '/cart';
                        };
                    }
                };
                xhr.send(formData);
            });
        });
    });
</script>
