<div class="slider-title">
    <p>Welcome Our</p>
    <h2>New Arrivals</h2>
</div>
<div class="product-slider-1">
  <img width=""  height=""  src="{{ 'left.png' | asset_url }}" class="scroll-arrow" id="right-arrow2" alt="Scroll Right">  
<div class="scroll-container2">
  {% for product in collections['new-arrivals'].products %}
    <div class="product">
     <a class="product-link" href="{{ product.url }}"> 
      {% for image in product.images %}
        <img class="product-img" width="" height="" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
      {% endfor %}
      <div class="product-details">
        <h2 class="product-title">Transformative Saundarya Night Cream</h2>
        <p class="price"> {{ product.price | money }} </p>
        <p class="discription">{{ product.discription  }}</p>
        </div>
     </a>
     <form id="product-form-{{ product.id }}" action="/cart/add" method="post">
     <input type="hidden" name="id" value="{{ product.variants.first.id }}">
     <button id="add-to-cart-button-{{ product.id }}" class="add-to-cart" type="button">Add to Cart</button>
  </form>  
    </div>
      {% endfor %}
  </div>
  <img  width=""  height="" src="{{ 'right.png' | asset_url }}" class="scroll-arrow" id="left-arrow2" alt="Scroll Left">
</div>

<div class="more-product">
  <hr class="product-hr">
  <a class="more" href="/collections/new-arrivals">
  <div>
    View All
  </div>
  </a>
</div>

<script>
  document.getElementById('left-arrow2').addEventListener('click', function() {
  document.querySelector('.scroll-container2').scrollBy({
    left: 380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

document.getElementById('right-arrow2').addEventListener('click', function() {
  document.querySelector('.scroll-container2').scrollBy({
    left: -380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

</script>