<div class="slider-title">
    <p>Explore</p>
    <h2>Our Categories</h2>
</div>
<div class="product-slider-1">
  <img width=""  height=""  src="{{ 'left.png' | asset_url }}" class="scroll-arrow" id="right-arrow3" alt="Scroll Right">  
<div class="scroll-container3">
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
<div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Skin Care
    </div>
    <button class="add-to-cart2">Add to Cart</button>
  </div>
    </div>
  <img  width=""  height="" src="{{ 'right.png' | asset_url }}" class="scroll-arrow" id="left-arrow3" alt="Scroll Left">
</div>

<div class="more-product">
  <hr class="product-hr">
  <div class="more">
    View All
  </div>
</div>

<script>
  document.getElementById('left-arrow3').addEventListener('click', function() {
  document.querySelector('.scroll-container3').scrollBy({
    left: -380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

document.getElementById('right-arrow3').addEventListener('click', function() {
  document.querySelector('.scroll-container3').scrollBy({
    left: 380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

</script>