<style>
    .cert-box{
        height: 450px;
        width: 100dvw;
        border: 1px solid gray;
    }
    .slider-title {
	width: 81vw;
	margin: 20px auto;
	height: 70px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	font-size: 40px;
	font-family: Lora;
	justify-content: center;
}
.slider-title3 h2{
  height: 70px;
  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.slider-title p {
	font-family: Montserrat,sans-serif;
	font-size: 20px;
  color: #616161;
}
.cert-img-container {
	width: 81dvw;
	margin: auto;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cert-img-container h2{
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.cert-img-box{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.cert-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
</style>

<div class="cert-box">
    <div class="slider-title">
    <p>Explore</p>
    <h2>Our Categories</h2>
</div>

<div class="cert-img-container">
    <div class="cert-img-box">
        <img class="cert-img"  src="{{'product1.png' |  asset_url}}" width="" height="" alt="">
    <h2>Ayush</h2>
    </div>
    <div class="cert-img-box">
        <img class="cert-img"  src="{{'product1.png' |  asset_url}}" width="" height="" alt="">
    <h2>Ayush</h2>
    </div>
    <div class="cert-img-box">
        <img class="cert-img"  src="{{'product1.png' |  asset_url}}" width="" height="" alt="">
    <h2>Ayush</h2>
    </div>
    <div class="cert-img-box">
        <img class="cert-img"  src="{{'product1.png' |  asset_url}}" width="" height="" alt="">
    <h2>Ayush</h2>
    </div>
    <div class="cert-img-box">
        <img class="cert-img"  src="{{'product1.png' |  asset_url}}" width="" height="" alt="">
    <h2>Ayush</h2>
    </div>
</div>

</div>