<style>
  .product2-link{
    border: 2px solid white;
  background: #fff;
  height: 100%;
  width: 380px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px #0003;
  box-sizing: border-box;
  margin: 0 10px;
  }
</style>
<div class="slider-title">
    <p>Explore</p>
    <h2>Our Categories</h2>
</div>
<div class="product-slider-1">
  <img width=""  height=""  src="{{ 'left.png' | asset_url }}" class="scroll-arrow" id="right-arrow3" alt="Scroll Right">  
<div class="scroll-container3">

  <a href="/collections/skin-care" class="product2-link">
    <div class="product2">
        <img width="" height="" class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
        <div class="cat-title">
            Skin Care
        </div>
        <button class="add-to-cart2">Shop Now</button>
    </div>
</a>

<a href="/collections/hair-care" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Hair Care
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>
<a href="/collections/make-up" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Make Up
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>
<a href="/collections/body-care" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
    Body Care
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>
<a href="/collections/supplements" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Supplements
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>
<a href="/collections/combos" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Combos
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>
<a href="/collections/gifting" class="product2-link">
  <div class="product2">
    <img width=""  height=""  class="product-img" src="{{ 'product1.png' | asset_url }}" alt="Cinque Terre">
    <div class="cat-title">
      Gifting
    </div>
    <button class="add-to-cart2">Shop Now</button>
  </div>
</a>

    </div>
  <img  width=""  height="" src="{{ 'right.png' | asset_url }}" class="scroll-arrow" id="left-arrow3" alt="Scroll Left">
</div>

<div class="more-product">
  <hr class="product-hr">
  <div class="more">
    View All
  </div>
</div>

<script>
  document.getElementById('left-arrow3').addEventListener('click', function() {
  document.querySelector('.scroll-container3').scrollBy({
    left: 380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

document.getElementById('right-arrow3').addEventListener('click', function() {
  document.querySelector('.scroll-container3').scrollBy({
    left: -380, // Adjust this value to match the width of a product card plus margin
    behavior: 'smooth'
  });
});

</script>