<style>
    .ethos-img{
        width: 200px;
        height: 200px;
    }
    .ethos-section {
	width: 81dvw;
	margin: auto;
	height: 630px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.ethos-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 615px;
}
    .ethos-container-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 250px;
}
.ethos {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    font-family: Montserrat,sans-serif;
	font-weight: normal;
	font-size: 20px;
    cursor: pointer;
}
</style>

<div class="ethos-section">
    <div class="more-product">
        <hr class="product-hr">
        <div class="more">
          Our Ethos
        </div>
      </div>
    <div class="ethos-container">
         <div class="ethos-container-row">
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos1.png' |  asset_url}}" width="" height="" alt="">
                <p>Traditional Ayurveda</p>
            </div>
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos2.png' |  asset_url}}" width="" height="" alt="">
                <p>Natural Ingredients</p>
            </div>
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos3.png' |  asset_url}}" width="" height="" alt="">
                <p>Cruelty-Free</p>
            </div>
         </div>
         <div class="ethos-container-row">
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos4.png' |  asset_url}}" width="" height="" alt="">
                <p>Traditional Ayurveda</p>
            </div>
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos5.png' |  asset_url}}" width="" height="" alt="">
                <p>Natural Ingredients</p>
            </div>
            <div class="ethos">
                <img class="ethos-img" src="{{'ethos6.png' |  asset_url}}" width="" height="" alt="">
                <p>Cruelty-Free</p>
            </div>
         </div>
    </div>
  
</div>