<div class="product">
  <a class="product-link" href="{{ product.url }}"> 
    {% for image in product.images %}
      <img class="product-img" width="" height="" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
    {% endfor %}
    <div class="product-details">
      <h2 class="product-title">Transformative Saundarya Night Cream</h2>
      <p class="price"> {{ product.price | money }} </p>
      <p class="discription">{{ product.discription  }}</p>
      </div>
  </a>
  <form id="product-form-{{ product.id }}" action="/cart/add" method="post">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <button id="add-to-cart-button-{{ product.id }}" class="add-to-cart" type="button">Add to Cart</button>
</form>
</div>
